# LiveKit Configuration
REACT_APP_LIVEKIT_URL="Your LiveKit URL"
REACT_APP_REALISTIC_AGENT_ROOM=realistic-agent-room
REACT_APP_STANDARD_AGENT_ROOM=standard-agent-room

# API Server (for generating tokens)
REACT_APP_API_BASE_URL=http://localhost:8000